html {
    font-family: 'Poppins', sans-serif;
    color: #121559;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(253,54,126);
    background: linear-gradient(180deg, rgba(253,54,126,1) 0%, rgba(78,17,132,1) 49%, rgba(15,21,86,1) 100%);
}

header {
    padding: 0;
    color: white;
    text-align: center;
}

header h1 {
    margin-bottom: -.5rem;
    font-size: 2.5rem;
    font-family: "Permanent Marker";
}

header h2 {
    font-size: 1rem;
    font-weight: 300;
}

.card {
    margin: 2rem auto;
    background: white;
    width: 20rem;
    min-width: 270px;
    height: 33rem;
    border-radius: 18px;
}

.content {
    padding: 1.25rem 2rem;
}

.content h1 {
    font-family: "Permanent Marker";
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}


form {
    width: 100%;
}

label {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

input[type=text]{
    height: 2.813rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 0rem .5rem;
    text-decoration: none;
    font-size: .9rem;
    cursor: pointer;
}


input[type=text]:hover {
    background: #FFF172;
}

.userlist {
    list-style-type: none;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    margin: 3rem 0rem;
    font-weight: 300;
    height: 10.3rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position:initial;
}

.userlist::-webkit-scrollbar {
    width: .5em;
    background: transparent;
}

.userlist::-webkit-scrollbar-thumb {
    background: #E1E1F1;
    border-radius: 5px;
}

.userlist li {
    padding: .25rem 1rem;
}

li:hover {
    background: #F9F9FC;
    cursor: pointer;
}

.startgame {
    display: block;
    cursor: pointer;
    font-size: 1rem;
    background: #FD367E;
    color: white;
    border: none;
    border-radius: 5px;
        width: 175px;
    height: 60px;
    /*padding: 1rem 2em;*/
    margin: 2.5rem auto;
    text-align: center;
}

.startgame:hover {
    background: #EF1765;
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 14px;
    }

    .card {
        width: 95vw;
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 18px;
    }
}