:root {
    --main: #121559;
    --highlight: #FFF172;
    --cta: #FD367E;
}

html {
    font-family: 'Poppins', sans-serif;
    color: var(--main);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(78,17,132);
background: linear-gradient(180deg, rgba(78,17,132,1) 0%, rgba(52,17,132,1) 100%, rgba(17,21,88,1) 100%);
}


/*heading section styling*/
header {
    padding: 0;
    color: white;
    text-align: center;
}

header h1 {
    font-family: "Permanent Marker";
    margin-bottom: -.5rem;
    font-size: 2.5rem;
}

header h2 {
    font-size: 1rem;
    font-weight: 300;
}

/* content card styling*/
.card {
    margin: 2rem auto;
    background: white;
    width: 20rem;
    min-width: 270px;
    height: 33rem;
    border-radius: 18px;
}

.content {
    padding: 1.25rem 2rem;
}

.content h1 {
    font-family: "Permanent Marker";
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

/*general form and field styling*/
form {
    width: 100%;
}

label {
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

label.invite{
    text-align: center;
}

input {
    height: 2.813rem;
    box-sizing: border-box;
    border: 2px solid var(--main);
    border-radius: 5px;
    color: var(--main);
    width: 100%;
    padding: 0rem .75rem;
    text-decoration: none;
    font-size: 1rem;
}

input:focus {
    background: var(--highlight);
}

input:hover {
    background: var(--highlight);
}

/*Game Options specific styling*/
.listtrigger {
    background: white;
    color: var(--main);
    font-size: 1rem;
    height:2.813rem;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--main);
    border-radius: 5px;
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listtrigger:hover {
    background: var(--highlight);
    cursor: pointer;
}

.arrow {
    /*rotate 180 degrees when clicked*/
    transform: rotate(0deg);
}

.cardlist {
    margin-top: .1rem;
    box-sizing: border-box;
    width: 100%;
    height: 13rem;
    background: white;
    border: 1px black solid;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 300;
    font-size: 1rem;
    display: none; /* comment out this line to display the list*/
}

.cardlist li {
    list-style-type: none;
    padding: .5rem .75rem;
    cursor: pointer;
}

.cardlist li label {
    position: relative;
    vertical-align: text-bottom;
    bottom: .1rem;
    font-size: 1rem;
    display: inline;
    padding-left: .1rem;
    cursor: pointer;
}

.cardlist li:hover {
    background: ghostwhite;
}

.cardlist li:checked {
    background: ghostwhite;
}

input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.cta {
    display: block;
    cursor: pointer;
    font-size: 1rem;
    background: var(--cta);
    color: white;
    border: none;
    border-radius: 5px;
    width: 175px;
    height: 60px;
    text-align: center;
    margin: 2rem auto;
}

.cta:hover {
    background: #EF1765;
}

/*Lobby specific styling only*/
.userlist {
    list-style-type: none;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    margin: 2rem 0rem;
    font-weight: 300;
    height: 10.75rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position:initial;
}

.userlist::-webkit-scrollbar {
    width: .5em;
    background: transparent;
}

.userlist::-webkit-scrollbar-thumb {
    background: #E1E1F1;
    border-radius: 5px;
}

.userlist li {
    padding: .25rem 1rem;
}

.userlist li:hover {
    background: #F9F9FC;
    cursor: pointer;
}


/*responsiveness*/
@media only screen and (max-width: 350px) {
    html {
        font-size: 14px;
    }

    .card {
        width: 95vw;
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 18px;
    }
}